server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:

        # =========================
        # AUTH SERVICE
        # =========================
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        # =========================
        # USER PROFILE SERVICE
        # =========================
        - id: parents-route
          uri: http://localhost:8083
          predicates:
            - Path=/parents/**

        - id: caregiver-route
          uri: http://localhost:8083
          predicates:
            - Path=/caregiver/**

        - id: admin-route
          uri: http://localhost:8083
          predicates:
            - Path=/admin/**

        # =========================
        # MATCHING / BOOKING
        # =========================
        - id: matching-booking
          uri: http://localhost:8085
          predicates:
            - Path=/matching-booking/**
          filters:
            - StripPrefix=1

        # =========================
        # COMMUNICATION SERVICE (REST)
        # =========================
        - id: communication-rest
          uri: http://localhost:8082
          predicates:
            - Path=/chats/**


        # =========================
        # COMMUNICATION SERVICE (WEBSOCKET)
        # =========================
        - id: communication-ws
          uri: ws://localhost:8082
          predicates:
            - Path=/ws/**

jwt:
  secret: carecircle-auth-secret-key-which-is-at-least-32-bytes-long

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
