server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: parents-route
          uri: http://localhost:8083
          predicates:
            - Path=/parents/**

        - id: caregiver-route
          uri: http://localhost:8083
          predicates:
            - Path=/caregiver/**

        - id: admin-route
          uri: http://localhost:8083
          predicates:
            - Path=/admin/**

jwt:
  secret: carecircle-auth-secret-key-which-is-at-least-32-bytes-long

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  