server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:

        # =========================
        # AUTH SERVICE
        # =========================
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth-service/**
          filters:
            - StripPrefix=1

        # =========================
        # USER PROFILE SERVICE
        # =========================
        - id: user-profile-service
          uri: http://localhost:8083
          predicates:
            - Path=/user-profile-service/**
          filters:
            - StripPrefix=1

        # =========================
        # MATCHING / BOOKING
        # =========================
        - id: matching-booking-service
          uri: http://localhost:8085
          predicates:
            - Path=/matching-booking-service/**
          filters:
            - StripPrefix=1

        # =========================
        # COMMUNICATION SERVICE (REST)
        # =========================
        - id: communication-service
          uri: http://localhost:8082
          predicates:
            - Path=/communication-service/**
          filters:
            - StripPrefix=1


        # =========================
        # COMMUNICATION SERVICE (WEBSOCKET)
        # =========================
        - id: communication-ws
          uri: ws://localhost:8082
          predicates:
            - Path=/ws/**

jwt:
  secret: carecircle-auth-secret-key-which-is-at-least-32-bytes-long

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
